name: Ci-Build

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        target:
          - i686-linux-android
          - x86_64-linux-android
          - aarch64-linux-android
          - x86_64-pc-windows-gnu
          # - i686-pc-windows-gnu lmao idk wwhy it dont work
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        run: rustup update stable
      - name: Install cross-compilation tools
        uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }} 
      - name: build
        run: cargo build --profile release
      - name: Upload DLL
        if: contains(matrix.target, 'windows')
        uses: actions/upload-artifact@v4
        with:
          name: BuildLimitChanger-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/BuildLimitChanger.dll
      - name: Upload SO
        if: contains(matrix.target, 'android') || contains(matrix.target, 'linux')
        uses: actions/upload-artifact@v4
        with:
          name: BuildLimitChanger-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/libBuildLimitChanger.so